<div class="landing">
    <div class="left">
        <div class="logo">
            <img src="/assets/headerLogo.png" alt="" />
        </div>
        <div class="description">
            Find restaurants near you in your price range!
        </div>
    </div>
    <div class="right">
        hey there

    </div>
</div>
