<div class="container">
    <%= ENV["STRIPE_LIVE_PUB"] %>
    <div class="landing">
        <div class="left">
            <div class="vertical-logo">
                <img src="https://s3-ap-southeast-2.amazonaws.com/eatunderassets/verticalLogo.png" alt="Eat under, food to fit your budget" />
            </div>
            <div class="description">
                <p>
                    <span class="tagline">Food to fit your budget.</span>
                </p>
                <p>
                    Simply search by price and discover food near you. Its that easy.
                </p>
                <div class="buttons">
                    <a href="/request" class="cta-button">Request Access</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="landing-image">
                <img src="https://s3-ap-southeast-2.amazonaws.com/eatunderassets/landingPageHome.png" alt="Eat under home page" />
            </div>
        </div>
    </div>
</div>
