// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-restaurant{
    font-family: "Quicksand", sans-serif;
    color: #2B2B2B;
    .container {
        max-width: 600px;
        margin: 0 auto;
        .wrapper {
            padding:20px;
            border: 1px solid #dadada;
            border-top: 1px solid #dadada;
            background: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 0  1px 0 #dadada;
            -moz-box-shadow: 0 1px 0 #dadada;
            -ms-box-shadow: 0 1px 0 #dadada;
            -o-box-shadow: 0 1px 0 #dadada;
            box-shadow: 0 1px 0 #dadada;
            form {
                .label {
                    font-size: 1.3em;
                }
                .input-field {
                    input {
                        padding-top: 3%;
                        padding-bottom: 3%;
                        padding-left: 3%;
                        margin: 5px auto;
                        width: 97%;
                        font-size: 1.3em;
                    }
                    .submit-button {
                        margin-top: 5px;
                        padding: 15px;
                        display:block;
                        width: 100%;
                        background: #27ae60;
                        border: 1px solid white;
                        color:white;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }

}
